<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="home"></div>

    <h1 style="text-align: center;">Quotes app</h1>
    <div class="home">

       <h1 ng-style="myObj">Welcome</h1>
    
     <h5>The minority have a say but the majority have their way; by Dr Opiyo</h5>
      
      <p>like or dislike quote</p>

      <button ng-click="count =count + 1" ng-init="count=1">LIKE</button>
      <button type="button" onClick="onClick(1)">DISLIKE</button>
      <p>likes: <a id="clicks">1</a></p> 
      
      <h5>The greatest glory in living lies not in never falling, but in rising every time we fall; by Nelson Mandela</h5>

      <p>like or dislike quote</p>

      <button ng-click="count =count + 1" ng-init="count=1">LIKE</button>
      <button type="button" onClick="onClick(1)">DISLIKE</button>
      <p>likes: <a id="clicks">4</a></p> 

      <h5>The way to get started is to quit talking and begin doing; by Walt Disney</h5>

      <p>like or dislike quote</p>

      <button ng-click="count =count + 1" ng-init="count=1">LIKE</button>
      <button type="button" onClick="onClick(1)">DISLIKE</button>
      <p>likes: <a id="clicks">2</a></p> 

      <h5>Your time is limited, so dont waste it living someone elses life. Dont be trapped by dogma- which is living with the results of othe peoples thinking; by Steve Jobs</h5>

      <p>like or dislike quote</p>

      <button ng-click="count =count + 1" ng-init="count=1">LIKE</button>
      <button type="button" onClick="onClick(1)">DISLIKE</button>
      <p>likes: <a id="clicks">1</a></p> 

      <h5>If life were predictable it would cease to be life, and be without flavour; by Eleanor Roosevelt</h5>

      <p>like or dislike quote</p>

      <button ng-click="count =count + 1" ng-init="count=1">LIKE</button>
      <button type="button" onClick="onClick(1)">DISLIKE</button>
      <p>likes: <a id="clicks">3</a></p>

      <h5>If you look at what you have in life, youll always have more. If you look at what you dont have in life, youll never have enough; by Oprah Winfrey</h5>

      <p>like or dislike quote</p>

      <button ng-click="count =count + 1" ng-init="count=1">LIKE</button>
      <button type="button" onClick="onClick(1)">DISLIKE</button>
      <p>likes: <a id="clicks">5</a></p>

      <h5>If you set your goals ridiculosly high and its a failure, you will fail above everyone elses success; by James Cameron</h5>

      <p>like or dislike quote</p>

      <button ng-click="count =count + 1" ng-init="count=1">LIKE</button>
      <button type="button" onClick="onClick(1)">DISLIKE</button>
      <p>likes: <a id="clicks">6</a></p>
      
    <form>
        <div class="form-group">

            <label for="name">Name</label>
            <input ng-model="name">
    
        </div>
        <div class="form-group">

            <label for="description">Quote</label>
            <input ng-model="name">

        </div>
        <div class="form-group">
            <label for="complete">Author</label>
            <input ng-model="name">

            <section>
                <div class="example-button-row">
                    <button type ="button"></button>
                </div>
            </section>

            <input type="date" id="complete" required>
        </div>
    </form>
    </div>
     
     <input ng-model="name">

     <button ng-click="count = count + 1"ng-init="count=0">OK</button>
    
    
</body>
</html>